<button class="btn btn-primary" (click)="isEven = !isEven"> Toggle between Even Odd</button>
<ul class="list-group">
  <div *ngIf="isEven">
    <li class="list-group-item" *ngFor="let evenNumber of even">{{ evenNumber }}</li>
  </div>
  <div *ngIf="!isEven">
    <li [ngClass]="{odd: odd % 2 !== 0}" [ngStyle]="{backgroundColor: odd % 2 !==0 ? 'yellow':'transparent'}"
      class="list-group-item" *ngFor="let oddNumber of odd">{{ oddNumber }}</li>
  </div>
  <p appBasicHighlight>Custom Directive</p>
  <p appBetterHighlight>Custom Directive using Renderer</p>
</ul>
