<div class="btn-toolbar">
  <button type="button" class="btn btn-info" (click)="onSectionClick('section1')">Custom
    Directives</button>
  <button type="button" class="btn btn-info" (click)="onSectionClick('section2')">Services
    & Dependency Injection</button>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <!-- ---------- SECTION 1 --------- -->
    <div *ngIf="sectionSelected==='section1'">
      <button class="btn btn-primary" (click)="isEven = !isEven"> Toggle between Even Odd</button>
      <ul class="list-group">
        <div *ngIf="isEven">
          <li class="list-group-item" *ngFor="let evenNumber of even">{{ evenNumber }}</li>
        </div>
        <!-- <div *ngIf="!isEven">
      <li [ngClass]="{odd: odd % 2 !== 0}" [ngStyle]="{backgroundColor: odd % 2 !==0 ? 'yellow':'transparent'}"
        class="list-group-item" *ngFor="let oddNumber of odd">{{ oddNumber }}</li>
    </div> -->
        <!-- ------------------------ -->
        <!-- Custom Directive opposite of IF condition is applied -->
        <div *appUnless="isEven">
          <li [ngClass]="{odd: odd % 2 !== 0}" [ngStyle]="{backgroundColor: odd % 2 !==0 ? 'yellow':'transparent'}"
            class="list-group-item" *ngFor="let oddNumber of odd">{{ oddNumber }}</li>
        </div>
        <!-- ------------------------ -->
        <p appBasicHighlight>Custom Directive</p>
        <!-- CUstom Attribute Directive with Direct property Bindibng -->
        <p [appBetterHighlight]="'yellow'" highlightColor="red">Custom Directive using
          Renderer</p>
      </ul>
      <!-- Swith In Angular -->
      <span [ngSwitch]="value">
        <p *ngSwitchCase="5"> the value is 5 </p>
        <p *ngSwitchCase="10"> the value is 10 </p>
        <p *ngSwitchDefault> the value is default </p>
      </span>
    </div>
  </div>
</div>
<!-- ---------- SECTION 2 --------- -->
<div *ngIf="sectionSelected==='section2'">
  <app-new-account (newAccountData)="onNewAccountAdded($event)"></app-new-account>
  <hr>
  <app-account *ngFor="let acc of accounts; let i = index" [account]="acc" [id]="i"
    (changedStatus)="onStatusChanged($event)"></app-account>
</div>
