<div class="btn-toolbar">
  <button type="button" class="btn btn-info" (click)="onSectionClick('section1')">Custom Directives</button>
  <button type="button" class="btn btn-info" (click)="onSectionClick('section2')">Services &
    Dependency Injection</button>
</div>
<hr>
<!-- ---------- SECTION 1 --------- -->
<div *ngIf="sectionSelected==='section1'">
  <button class="btn btn-primary" (click)="isEven = !isEven"> Toggle between Even Odd</button>
  <ul class="list-group">
    <div *ngIf="isEven">
      <li class="list-group-item" *ngFor="let evenNumber of even">{{ evenNumber }}</li>
    </div>
    <!-- <div *ngIf="!isEven">
      <li [ngClass]="{odd: odd % 2 !== 0}" [ngStyle]="{backgroundColor: odd % 2 !==0 ? 'yellow':'transparent'}"
        class="list-group-item" *ngFor="let oddNumber of odd">{{ oddNumber }}</li>
    </div> -->
    <!-- ------------------------ -->
    <!-- Custom Directive opposite of IF condition is applied -->
    <div *appUnless="isEven">
      <li [ngClass]="{odd: odd % 2 !== 0}" [ngStyle]="{backgroundColor: odd % 2 !==0 ? 'yellow':'transparent'}"
        class="list-group-item" *ngFor="let oddNumber of odd">{{ oddNumber }}</li>
    </div>
    <!-- ------------------------ -->
    <p appBasicHighlight>Custom Directive</p>
    <!-- CUstom Attribute Directive with Direct property Bindibng -->
    <p [appBetterHighlight]="'yellow'" highlightColor="red">Custom Directive using Renderer</p>
  </ul>
  <!-- Swith In Angular -->
  <span [ngSwitch]="value">
    <p *ngSwitchCase="5"> the value is 5 </p>
    <p *ngSwitchCase="10"> the value is 10 </p>
    <p *ngSwitchDefault> the value is default </p>
  </span>
</div>
<!-- ---------- SECTION 2 --------- -->
<div *ngIf="sectionSelected==='section2'">
  <label for="name" class="col-sm-2">Account Name</label>
  <input type="text" class="form-control  ">
</div>
